* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  z-index: 99;
}
.header .links {
  background-color: #fff;
  width: 100%;
}
.header .links ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.header .links ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}
.header .links ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.header .links ul li a:hover {
  text-decoration: underline;
  color: #3939a0;
}
.header .links ul li a:focus {
  color: red;
}
.header .links ul li a i {
  margin-left: 15px;
}

.nav {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 85vh;
}
.nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 85vh;
  top: 80px;
  left: 0;
  background: rgba(221, 221, 221, 0.4);
}

.main .container .kurs_title {
  margin-top: 50px;
}
.main .container .row {
  background: #E4A216;
  font-size: 20px;
  padding: 5px;
  border-radius: 3px;
  color: #f3eaea;
}
.main .container .row .item {
  font-weight: bold;
}

.middle {
  display: flex;
}
.middle .mid {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dashed rgba(39, 38, 38, 0.38);
}
.middle .mid img {
  width: 30px;
  height: 30px;
  margin: 10px 0;
  margin: 15px 10px;
  cursor: pointer;
}
.middle .mid .item {
  padding: 15px 17px;
  font-size: 18px;
  font-weight: 500;
}